---
lang-ref: events
title: Events
---

<h2>Upcoming Events</h2>

{% capture now %}{{'now' | date: '%s' | plus: 0 %}}{% endcapture %}
{% for event in site.events %}
  {% capture date %}{{event.date | date: '%s' | plus: 0 %}}{% endcapture %}
  {% if date >= now %}
    <h2><a href="{{ event.url }}">{{ event.title }}</a></h2>
    <p>{{ event.date | date: "%A, %B %e, %Y" }}</p>
    <a href="{{ event.url }}"><img src="{{ event.image }}" style="width: 100%" /></a>
  {% endif %}
{% endfor %}

<h2>Past Events</h2>

{% capture now %}{{'now' | date: '%s' | plus: 0 %}}{% endcapture %}
{% for event in site.events %}
  {% capture date %}{{event.date | date: '%s' | plus: 0 %}}{% endcapture %}
  {% if date > now %}
    <h2><a href="{{ event.url }}">{{ event.title }}</a></h2>
    <p>{{ event.date | date: "%A, %B %e, %Y" }}</p>
    <a href="{{ event.url }}"><img src="{{ event.image }}" style="width: 100%" /></a>
  {% endif %}
{% endfor %}
